# Build Artifacts, Dependencies, etc.
/node_modules
/.vite
/out

# IDEs and Editors
/.vscode/*
!/.vscode/extensions.json
!/.vscode/settings.json

# Logs, Scan Results, etc.
*.log
*.sarif
user-settings.json

# System Files
.DS_Store
Thumbs.db
