/**
 * Inline Code
 */
@mixin code {
  font-family: var(--font--mono);
  font-size: var(--code__font-size);
}

@mixin code-block {
  font-family: var(--font--mono);
  font-size: var(--code-block__font-size);
  line-height: var(--code-block__line-height);
}
